<ng-progress id="progressBar"></ng-progress>
<div class="login-page">
    <div class="login-page-container">
        <div class="login-box">
            <div class="logo">
                <a href="javascript:void(0);">Turisteando<b> Admin</b></a>
                <small>Una ventana al México mágico</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" [formGroup]="loginForm" (ngSubmit)="loginEmailandPassword()">
                        <div class="msg">Inicia sesión con Turisteando</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="material-icons">email</i>
                            </span>
                            <div class="form-line">
                                <input type="email" class="form-control" [(ngModel)]="email" formControlName="email" placeholder="Correo">
                            </div>
                            <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">

                                <p class="text-danger" *ngIf="loginForm.get('email').hasError('required')">
                                    * Campo requerido
                                </p>
                                <p class="text-danger" *ngIf="loginForm.get('email').hasError('email')">
                                    * Formato invalido
                                </p>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="material-icons">lock</i>
                          </span>
                            <div class="form-line">
                                <input type="password" class="form-control" [(ngModel)]="password" formControlName="password" placeholder="Contraseña">
                            </div>
                            <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty">

                                <p class="text-danger" *ngIf="loginForm.get('password').hasError('required')">
                                    * Campo requerido
                                </p>
                                <p class="text-danger" *ngIf="loginForm.get('password').hasError('minLength')">
                                    * Deben ser minimo 6 caracteres
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 p-t-5">
                                <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-teal">
                                <label for="rememberme">Recuérdame</label>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block waves-effect bg-teal" [disabled]="!loginForm.valid">INICIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>