<div class="login-page">
    <div class="login-page-container">
        <div class="login-box">
            <div class="logo">
                <a href="javascript:void(0);">Turisteando<b> Admin</b></a>
                <small>Una ventana al México mágico</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" method="POST">
                        <div class="msg">Inicia sesión con Turisteando</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="material-icons">email</i>
                          </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="email" placeholder="Correo" required autofocus>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="material-icons">lock</i>
                          </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 p-t-5">
                                <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-teal">
                                <label for="rememberme">Recuérdame</label>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block waves-effect bg-teal" type="submit">INICIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>