<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Registrar Pueblos</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <form id="registrarPueblo" enctype="multipart/form-data" [formGroup]="registrarPueblo" (ngSubmit)="setPueblo($event)">
                            <h2 class="card-inside-title">Datos básicos</h2>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                                        </div>
                                        <!-- <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
                                
                                                                        <p class="text-danger" *ngIf="loginForm.get('email').hasError('required')">
                                                                            * Campo requerido
                                                                        </p>
                                                                        <p class="text-danger" *ngIf="loginForm.get('email').hasError('email')">
                                                                            * Formato invalido
                                                                        </p>
                                                                    </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" formControlName="estado" [value]="estado">
                                                <option selected value="estado">-- Estado --</option>
                                               
                                                <option *ngFor="let item of estados" value="{{item}}">{{item}}</option>
                                                
                                            </select>
                                        </div>
                                        <!-- <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty">

                                        <p class="text-danger" *ngIf="loginForm.get('password').hasError('required')">
                                            * Campo requerido
                                        </p>
                                        <p class="text-danger" *ngIf="loginForm.get('password').hasError('minLength')">
                                            * Deben ser minimo 6 caracteres
                                        </p>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" formControlName="descripcion" class="form-control no-resize auto-growth" placeholder="Descripción del pueblo"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="card-inside-title">Imagenes</h2>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="fallback">
                                        <input name="file" accept=".png, .jpg, .jpeg" type="file" multiple />
                                    </div>
                                </div>
                            </div>
                            <h2 class="card-inside-title">Ubicación</h2>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="5" (mapClick)="onMapClick($event)">
                                        <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="submit" class="btn lg btn-block waves-effect bg-teal" [disabled]="!registrarPueblo.valid">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner class="loader" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
    <p style="color: white"> Registrando... </p>
</ngx-spinner>